@page "/getintouch"

<div class="text-center border my-5 rounded">
    <h1>Contact</h1>
    <div class="display-6">
        <div class="lead">
            <i class="fa fa-phone text-primary my-3"></i>
            <p>0532 565 21 33</p>

            <i class="fa-solid fa-address-book text-primary my-3"></i>
            <p>Yarım saate angaranın her yerindeyiz</p>

            <i class="fa-solid fa-envelope text-primary my-3"></i>
            <p>angara@gmail.com</p>
        </div>
    </div>
</div>
